div.button {
    border-style: outset;
    border-width: 2px;
    border-color: #009;
    background-color: #009;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 10px;
    padding: 6px;
    text-align: center;
    background-image: linear-gradient(right bottom, rgb(35,87,219) 0%, rgb(30,43,36) 50%, rgb(36,88,219) 75%);
    background-image: -o-linear-gradient(right bottom, rgb(35,87,219) 0%, rgb(30,43,36) 50%, rgb(36,88,219) 75%);
    background-image: -moz-linear-gradient(right bottom, rgb(35,87,219) 0%, rgb(30,43,36) 50%, rgb(36,88,219) 75%);
    background-image: -webkit-linear-gradient(right bottom, rgb(35,87,219) 0%, rgb(30,43,36) 50%, rgb(36,88,219) 75%);
    background-image: -ms-linear-gradient(right bottom, rgb(35,87,219) 0%, rgb(30,43,36) 50%, rgb(36,88,219) 75%);

    background-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        color-stop(0, rgb(35,87,219)),
        color-stop(0.5, rgb(30,43,36)),
        color-stop(0.75, rgb(36,88,219))
    );
}